/// Global stylesheet
@import "./variables/colours";

@font-face {
    font-family: 'ObjektivMk3-Light';
    src: local('ObjektivMk3-Light'), url('../assets/fonts/ObjektivMk3-Light.woff');
}

@font-face {
    font-family: 'ObjektivMk3-Bold';
    src: local('ObjektivMk3-Bold'), url('../assets/fonts/ObjektivMk3-Bold.woff');
}

html, body {
    font-family: 'ObjektivMk3-Light';
    background-color: $global-background-colour
}

body {
    color: #444;
}

body,div,h1 {
    margin: unset;
}