.SideNav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    /* padding-top: 20px; */
}

.SideNavHeader {
    background-color: #7B2323;
    padding: 10px 0;
    margin-bottom: 20px;
}

.SideNav a {
    text-decoration: none;
}

.SideNavHeader p {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.SideNavMain a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #a3a3a3;
    display: block;
}

.SideNavMain a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .SideNavMain {padding-top: 15px;}
    .SideNavMain a {font-size: 18px;}
}