.AboutDiv {
    padding-left: 25%;
    padding-right: 25%;
    /* border-style: inset;
    border-color: red;
    border-width: 1px; */
    font-family: 'Roboto Mono', monospace;
    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;
}
