.PersonalDiv {
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: 'Roboto Mono', monospace;
    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;
}

.PersonalPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: auto;
    border-radius: 50%;
    padding-bottom: 20px;
}
